@model E_CODING_MVC_NET6_0.Models.ViewModel.ProjectViewModel

@{
    ViewData["Title"] = "Sélectionner un Projet";
}

<h2>Sélectionnez un Projet</h2>

<form method="post" id="projectForm">
    <div class="form-group">
        <label for="ProjectId">Projet</label>
        @Html.DropDownListFor(model => model.SelectedProjectId,
                 new SelectList(Model.Projects, "TemplateProjectId", "TemplateProjectName"),
                 "Choisir un projet",
                 new { @class = "form-control", @id = "ProjectId" })
    </div>
</form>

<div id="templatesContainer">
    <!-- La liste des templates sera injectée ici via AJAX -->
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Lors de la sélection d'un projet, recharge la liste des templates via AJAX
        $('#ProjectId').change(function () {
            var projectId = $(this).val();
            $('#templatesContainer').html("")
            $.ajax({
                url: '@Url.Action("Details", "TemplateTechnique")', // Requête AJAX pour recharger les templates
                data: { id: projectId },
                success: function (data) {
                    $('#templatesContainer').html(data); // Remplacer le contenu des templates
                }
            });
        });
    </script>
}