
<form>

    <div class="form-group">
        <label for="solutions">Solutions</label>
        <select id="solutions" class="form-control">
            <option value="">Sélectionner une solution</option>
            @foreach (var solution in (SelectList)ViewData["Solutions"])
            {
                <option value="@solution.Value">@solution.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="projets">Projets</label>
        <select id="projets" class="form-control">
            <option value="">Sélectionner un projet</option>
        </select>
    </div>

    <div class="form-group">
        <ul id="templateList">
            <!-- Les templates seront ajoutés ici -->
        </ul>
    </div>

</form>

<div id="templatesContainer">
    <!-- La liste des templates sera injectée ici via AJAX -->
</div>

@section scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

               $('#solutions').change(function () {
                    var solutionId = $(this).val();
                    alert(solutionId);
                    $.ajax({
                        url: '@Url.Action("ProjetsBySolution")',
                        data: { id: solutionId },
                        success: function (result) {
                            alert("success");
                            var projetDropdown = $('#projets');
                            projetDropdown.empty();
                            projetDropdown.append('<option value="">-- Sélectionner un projet --</option>');
                                for (var i = 0; i < result.length; i++) {
                                    projetDropdown.append('<option value="' + result[i].TemplateProjectId + '">' + result[i].TemplateProjectName + '</option>');
                            }
                        }
                    });
               });

               $('#projets').change(function () {
                    var projectId = $(this).val();
                    $('#templatesContainer').html("")
                    $.ajax({
                        url: '@Url.Action("Details", "TemplateTechnique")', // Requête AJAX pour recharger les templates
                        data: { id: projectId },
                        success: function (data) {
                            $('#templatesContainer').html(data); // Remplacer le contenu des templates
                        }
                    });
                });

        });

    </script>

    
    
}






